
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

:root{
  --smaller-text-font-family: "Inter", sans-serif;
}

body {
  font-family: var(--smaller-text-font-family);
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "nav footer";
  grid-template-columns: 12em 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0 3%
}


#header {
    grid-area: header;
    text-align: center;
    /* padding: 20px;
    width: 100%; */
    color: black;
    background-color: #348AA7;
    top: 0;
    font-size: 24px;
    background-image: url("https://wallpaperaccess.com/full/42613.jpg");
    background-size: cover;
    background-position: 30%;
  }

#sidebar {
  grid-area: nav;
  /* height: 100%; Full-height: remove this if you want "auto" height */
  /* width: 160px; Set the width of the sidebar */
  /* position: absolute; Fixed Sidebar (stay in place on scroll) */
  /* z-index: 1; Stay on top */
  /* top: 20; Stay at the top */
  /* left: 0; */
  background-color: rgb(255, 255, 255); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  /* padding-top: 20px; */
  display: block;
  border: solid 1px lightgrey;
}


#sidebar li:hover{
  color:#46b3d7
}

.active{
  background-color: #348AA7;
  
}

ul {
  list-style-type: none;
  padding: 5px;
  line-height: 25px;
}

#main {
  grid-area: main;
  display: grid;
  grid-template-areas:
    "details"
    "user"
    "form";
  grid-template-rows: 2fr auto auto;
}


#movie-details{
  grid-area: details;
  display: grid;
  grid-template-areas: 
    'etitle etitle'
    'jtitle jtitle'
    'poster director'
    'poster release'
    'poster run'
    'poster description';
  grid-template-columns: 30% 70%;
  grid-template-rows: 17% 14% 10% 10% 10% 40%;
}

#movie-poster{
  grid-area: poster;
  max-width: 200px;
  /* display: block; */
  /* margin-left: auto;
  margin-right: auto; */
}

#movie-title{
  grid-area: etitle;
  text-align: left;
}

#japanese-title{
  grid-area: jtitle;
  text-align: left;
}

#director {
  grid-area: director;
}

#release-date{
  grid-area: release;
}

#run-time{
  grid-area: run;
}

#movie-description{
  grid-area: description;
}

#user{
  grid-area: user;
  display: grid;
  grid-template-areas: 
    'check rating'
    'comment comment';
  grid-template-columns: auto auto;
  grid-template-rows: 50% 50%;
}

#watched-check {
  grid-area: check;
} 

#review-output #existing-rating{
  grid-area: rating;
}

#review-div{
  grid-area: comment;
  text-align: left;
}

#watched-check h2{
  display: inline;
}

#review-form{
  grid-area: form;
}

#footer{
  grid-area: footer;
  /* align-items: center; */
  /* display: flex; */
  /* justify-content: center; */
  /* padding: 20px; */
}


div.transparentbox {
  opacity: 0.55;
  margin: 40px;
  padding: 20px;
  border: 1px solid black;
  background-color: #ffffff;
  filter: alpha(opacity=40); /* This is for IE8 and other earlier browsers */
 
  
}


@import url(https://fonts.googleapis.com/css?family=Montserrat);

#footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
}

.button {
  display: block;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin: 0 auto;
  height: 50px;
  min-width: 100px;
  max-width: 300px;
  width: 50%;
  background: #348AA7;
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  border-radius: 3px;
  box-shadow: 0 5px 0px #348aa7;
  border-bottom: 2px solid #30809b;
  text-align: center;
}
.button:hover {
  background: #2e7a94;
  box-shadow: 0 4px 1px #2e7a94;
  border-bottom: 2px solid #2a7088;
  transition: all 0.1s ease-in;
}
.button:active {
  transform: translateY(4px);
  border-bottom-width: 2px;
  box-shadow: none;
}
